**/.angular
**/.git
**/.vscode
**/node_modules
**/docker-compose*
**/Dockerfile*
LICENSE
README.md
**/.dockerignore
**/.gitignore
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/.env
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
